html, body {
    height: 100%;
}
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.movie-container {
    margin-top: 20px;
}
.my-4{
    text-align: left;
    font-size: 25px;
}

.movie-card-holder{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 0.5em;
}

.movie-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    /* background-color: #1a1a1a; */
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
    height: 100%;
}
.movie-card:hover {
    transform: translateY(-5px);
}
.movie-card img {
    width: 100%;
    border-radius: 10px;
}
.navbar {
    background-color: #111;
}
.navbar-toggler {
    border: 1px solid white;
    padding: 5px;
}
.footer {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
    margin-top: auto;
}



