:root {
    --card-clr: rgba(20, 20, 20, 0.849);
}

body {
    background-color: black;
    color: white;
}




.movie-detail-holder {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    padding: 10px 20px;
}

.movie-container img {
    width: 400px;
    border-radius: 10px;
}

.movie-detail-grd-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 60px;

}

.movie-detail-grd-1 h1 {
    text-align: center;
    font-size: 40px;
}

.grd-2-paragraphs-align {
    margin: 0;
}

.details-buttons-holder {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.btn {
    width: 100%;
}


/* reviews holder is below */

.reviews-holder {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 80px;
}

.card-header h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.reviews-card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.reviews-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5em;
    width: 100%;
}

.reviews-card {
    background-color: var(--card-clr);
    border-radius: 8px;
    padding: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.1s ease-in;
}

.reviews-author {
    font-weight: bold;
    font-size: 18px;
    color: #f2c35c;
}

.reviews-content {
    font-size: 14px;
    flex-grow: 1;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease;
    max-height: 180px;
}

.reviews-content:hover {
    overflow-y: auto;
}

.reviews-content::-webkit-scrollbar {
    width: 8px;
}

.reviews-content::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.reviews-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.reviews-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.reviews-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.add-review-form{
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 30px;
}

.form-control {
    background-color: transparent !important; 
    color: white !important; 
    border: 1px solid #ccc; 
}



.not-user-err{
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 15vh;
}

.not-user-err p{
    margin: 0;
    padding: 0;

    font-size: 25px;
}